html, body {
  margin: 0;
  padding: 0;
}

#hero,
#services,
#work,
#contact {
  min-height: 100vh;
  position: relative;
  padding: 1em;
  margin: 0;
  text-align: center;
  color: #f5f6f7;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1.25em;
}

h2 {
  padding-top: 10vh;
}

h2, h3 {
  font-family: 'Ubuntu', Arial, sans-serif;
}


@media (max-width : 600px) , (max-height : 600px) {
  #hero {
    padding-top: 5vh;
  }

  .hidexs{
    display: none;
  }

  #hero,
  #services,
  #work,
  #contact {
    font-size: 1em;
  }

}

/* NAV */

nav {
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 1;
  padding-top: 20px;
  }

nav>div {
  display: inline;
  position: relative;
  padding-left: 4vw;
  padding-right: 4vw;
}

nav div[id*='nav'][id$='icon'] {
  display: auto;
  position: absolute;
  width: 80%;
  height: 8px;
  top: -10px;
  margin: 0px 0 0 -40%;
  left: 50%;
  text-align: center;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

#nav-hero-icon{background:#B8312F}
#nav-services-icon{background:#1fa67a}
#nav-work-icon{background:#2980b9}
#nav-contact-icon{background:#2c3e50}

nav a {
  font-size: 1em;
  font-family: 'Ubuntu', Arial, sans-serif;
  text-decoration: none;
}


/* HERO */

#hero {
  background: #B8312F;
  padding-top: 20vh;
  height: 50%;
  margin: 0 auto;
}


#hero p {
  font-size: 1.5em;
}

#hero h1 {
  font-size: 4em;
  font-family: 'Ubuntu', Arial, sans-serif;
}


/* SERVICES */

#services {
  background: #1fa67a;
}

#services a {
  margin-bottom: 20vh;
  color: #464f58;
  text-decoration: none;
}
/* WORK */

#work {
  background: #2980b9;
}

#work p, a {
  display: inline;
  color: #f5f6f7;
}


/* CONTACT */

#contact {
  background: #2c3e50;
}


#contact a {
  color: #f5f6f7;
  font-weight: 400;
  text-decoration: none;
}

#contact i {
  padding-right: 10px;
}

#contact p {
  position: absolute;
  bottom: 0;
  left: 1;
  font-size: 0.8em;
}


/* CSS GRID */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  margin: 0 0 20px 0;
  padding: 20px 0 20px 20px;
}

}
.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
}
.grid [class*='col-']:last-of-type {
  padding-right: 20px;
}

.col-1-2 {
  width: 50%;
  padding: 20px;
}
