/* TEXT SHADOWS

SUBTLE  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

DEFAULT text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

STRONG  text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

*/

/* Applies box model and CSS reset to all elements */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
  margin: 0;
  padding: 0;
}


/* HERO */
#hero {
    position: relative;
    padding: 1px 1em;
    font-size: 1.25em;
    color: #f5f6f7;
    text-align: center;

}

#hero h1 {
text-align: center;
  padding-top: 5vh;
  padding-bottom: 2vw;
  font-size: 6em;
  text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#hero p {
  font-size: 2em;
  text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-bottom: 3.5vw;

}

.contact{
    padding-bottom: 2.5vw;
}

.contact a{
    padding-left: 5vw;
    padding-right: 5vw;
}

.contact a {
  display: inline;
  color: #f5f6f7;
}

.contact a:hover {
  text-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}

/* WORK */

#work {
    padding-top: 2vh;
}

/* CSS ANIMATIONS */
#scroll-animate {visibility: hidden;}


/* RESPONSIVE */
@media (max-width: 1000px) {
  h2 {
    font-size: 1.5em;
  }

  #hero h1 {
    font-size: 4em;
    padding-top: 5vh;
  }
}

@media (max-width: 600px), (max-height: 600px) {
  #hero h1 {
    padding-top: 2vh;
  }

  .hidexs {
    display: none;
  }

  body {
    font-size: 1em;
  }
}
